<div class="container app-body">
		<div class="login-box">
			<div class="input-section">
			  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
			  <input type="password" class="form-control password" placeholder="Password" aria-describedby="basic-addon1">
			</div>
			<div class="buttonSection">
				<button type="button" class="btn btn-primary">Sign In</button>
				<button type="button" class="btn btn-primary">Don't have an account</button>
			</div>
		</div>
</div>
{{outlet}}
