<div class="container app-body">
		<div class="signUp-box">
			<div class="input-group myAppGroup">
			  <div class="input-group-addon appText" id="basic-addon1">User Name</div>
			  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
			</div>

			<div class="input-group myAppGroup">
			  <div class="input-group-addon appText" id="basic-addon1">Email</div>
			  <input type="email" class="form-control" placeholder="email" aria-describedby="basic-addon1">
			</div>

			<div class="input-group myAppGroup">
			  <div class="input-group-addon appText" id="basic-addon1">Password</div>
			  <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
			</div>

			<div class="input-group myAppGroup">
			  <div class="input-group-addon appText" id="basic-addon1">Re-enter Password</div>
			  <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
			</div>

			<div class="buttonSection">
				<button type="button" class="btn btn-primary">Register</button>
			</div>
		</div>
</div>
{{outlet}}
